$color1: #bdbdbd;
$color2: #8c8a8a;
$curtain-border: #8f8f8f;

.MyPic {
  // background-color: lightsalmon;
  position: relative;
  width: 67.55px;
  height: 67.7px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-out;

  &:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 4px rgb(31, 30, 30);
  }
  img {
    // background-color: lightcoral;
    position: absolute;
    opacity: 1;
    top: 0;
    height: 6.74rem;
    border: 2px solid #d8d8da;
    border-radius: 50%;
    transition: all 0.3s ease-out;
  }

  .left,
  .right {
    position: absolute;
    top: 0;
    background: #c3c1c1;
    background: linear-gradient(
      to left,
      $color1 0%,
      $color2 15%,
      $color1 30%,
      $color2 45%,
      $color1 55%,
      $color2 70%,
      $color1 85%,
      $color2 100%
    );
    width: 50%;
    height: 101%;
    transition: transform 1.6s ease-out;
    z-index: 11;
  }

  .left {
    border-right: 1px solid $curtain-border;
    transform: translate(0%, 0%);
    &.activate {
      transform: translate(-100%, 0%);
    }
  }
  .right {
    right: 0;
    border-left: 1px solid $curtain-border;
    transform: translate(0%, 0%);
    &.activate {
      transform: translate(100%, 0%);
    }
  }
}
