.Skills {
  // background-color: #3c6274;
  //background-color: #b3b6b8;
  background-color: #859196;
  background-image: url("./assets/19.png");
  min-height: calc(100vh - 235px); //footer + padding
  display: flex;
  padding: 70px 12% 67px;
  //padding: 87px 12% 60px;

  main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container__skill-card {
    padding-bottom: 70px;
    margin: auto;
  }

  .wire {
    position: relative;
    width: 100px;
    height: 180px;
    min-height: 155px;
    border-top: 1px solid black;

    //AFFECTS NAIL
    margin: auto;
    margin-bottom: -140px;
    border-radius: 100%;

    display: flex;
    justify-content: center;

    .nail {
      background: gray;
      width: 10px;
      height: 10px;
      margin-top: -5px;
      border-radius: 100%;
      box-shadow: 3px 3px 5px 1px rgb(14, 13, 13);
    }
  }
}

@media (max-width: 920px) {
  .Skills {
    padding-left: 1%;
    padding-right: 1%;
  }
}

// @media (max-width: 622px) {
//   .Skills {
//     min-height: calc(100vh - 245px);
//   }
// }
