.container__skill-box {
  position: relative;
  background-color: rgb(31, 31, 31);

  color: darken(#ffffff, 10%);
  width: 310px;
  height: 80px;
  margin: 1rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.3);
  z-index: 20;

  //TEXT
  span {
    padding: 0 0.7rem;
    font-size: 2.3rem;
    letter-spacing: 0.1rem;
  }
  //RELATEDSKILLS ONLY
  .wrapper__logo-text {
    display: flex;
    align-items: center;
  }
  //LOGOS
  .logo {
    width: 48px;
    height: 48px;
  }
  .bg-sass {
    background: url("./assets/logos_sprites.png") -10px -10px;
  }
  .bg-css3 {
    background: url("./assets/logos_sprites.png") -78px -10px;
  }
  .bg-react {
    background: url("./assets/logos_sprites.png") -146px -10px;
  }
  .bg-html-5 {
    background: url("./assets/logos_sprites.png") -10px -78px;
  }
  .bg-javascript {
    background: url("./assets/logos_sprites.png") -78px -78px;
  }
  .bg-github {
    background: url("./assets/logos_sprites.png") -146px -78px;
  }
  .bg-git {
    background: url("./assets/logos_sprites.png") -10px -146px;
  }
  //to show github icon in dark background
  .special {
    background-color: darken(#ffffff, 5%);
    border-radius: 100%;
  }
}

//Centers oneSkill card
.center {
  justify-content: center;
}

@media (max-width: 320px) {
  .container__skill-box {
    margin: 10px 0;
    width: 310px;
  }
}
