.FilterBy {
  background-color: #070707;
  background-image: url("../assets/14.png");

  height: 63px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .filter-by__text {
    color: whitesmoke;
    padding: 0 20px;
    letter-spacing: 1px;
    font-weight: 500;
  }

  ul {
    display: flex;
    justify-content: center;
    :nth-child(1) {
      z-index: 99;
    }
    :nth-child(2) {
      z-index: 90;
    }
    :nth-child(3) {
      z-index: 80;
    }
    :nth-child(4) {
      z-index: 70;
    }
    :nth-child(5) {
      z-index: 60;
    }
    :nth-child(6) {
      z-index: 50;
    }
  }

  li {
    background-color: #575d5f;
    color: white;
    min-width: 90px;
    padding: 3px 9px;
    margin-right: -6px;
    text-align: center;
    font-weight: 300;
    font-variant: small-caps;
    letter-spacing: 1.3px;
    border: 1px solid #383232;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.562);
    cursor: pointer;

    display: flex;
    text-align: center;
    justify-content: center;
  }

  .active {
    min-width: max-content;
    position: relative;
    background-color: var(--onHover1);
    color: rgb(32, 32, 32);
    border: none;
    border: 1px solid #383232de;
    transition: transform, background rotate ease-in;
    transition-duration: 0.8s, 0.1s;
  }

  .tech-tab {
    min-width: max-content;
    position: relative;
    transform: rotate(8deg);
    transform-origin: 20% 40%;
    transition: transform, background, rotate ease-in;
    transition-duration: 1.3s, 0.1s;
  }
}

@media (max-width: 650px) {
  .FilterBy {
    padding: 3px 30px;
    font-size: 1.6rem;
    font-size: 12px;
    font-variant: unset;

    .smallerScreens {
      display: block;
      padding-right: 10px;
    }

    .filter-by__text {
      display: none;
    }

    li {
      width: fit-content;
      padding: 8px 5px;
    }
    .tech-tab {
     font-variant: normal;
     font-size: 10px;
    }
    .active {
      font-variant: normal;
      font-size: 10px;
    }
  }
}
