.FilterBy {
  //background-color: #383838;
  // background-color: #1b1b1b;
  background-color: #070707;
  background-image: url("../../Skills/assets/14.png");

  height: 63px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  // transition: translate ease 5s;

  .filter-by__text {
    color: whitesmoke;
    padding: 0 20px;
    letter-spacing: 1px;
    font-weight: 500;
  }

  ul {
    //background-color: lightgreen;
    display: flex;
    justify-content: center;
    :nth-child(1) {
      z-index: 99;
    }
    :nth-child(2) {
      z-index: 90;
    }
    :nth-child(3) {
      z-index: 80;
    }
    :nth-child(4) {
      z-index: 70;
    }
    :nth-child(5) {
      z-index: 60;
    }
    :nth-child(6) {
      z-index: 50;
    }
  }

  li {
    background-color: #575d5f;
    color: white;
    width: 95px;
    padding: 3px;
    text-align: center;
    margin-right: -7px;
    font-weight: 300;
    font-variant: small-caps;
    letter-spacing: 1.3px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.562);
    border: 1px solid #383232;
    cursor: pointer;

    display: flex;
    text-align: center;
    justify-content: center;
  }

  .active {
    position: relative;
    background-color: #e8ba07;
    color: rgb(32, 32, 32);
    border: none;
    border: 1px solid #383232de;
    transition: transform, background rotate ease-in;
    transition-duration: 0.9s, 0.1s;
  }

  .tech-tab {
    position: relative;
    transform: rotate(5deg);
    transform-origin: 20% 40%;
    transition: transform, background, rotate ease-in;
    transition-duration: 1.4s, 0.1s;
  }
}

@media (max-width: 650px) {
  .FilterBy {
    font-size: 1.6rem;

    .smallerScreens {
      display: block;
      padding-right: 10px;
    }

    .filter-by__text {
      display: none;
    }

    li {
      width: auto;
      margin-right: 3px;
    }
  }
}
