.RenderNavButtons {
  //background-color: rgb(7, 143, 221);
  padding: 10px 5px;
  text-align: center;

  .button-text {
    font-variant: small-caps;
    text-transform: capitalize;
    letter-spacing: 0.09em;
  }
}

@media (max-width: 1240px) {
  .RenderNavButtons {
    // background-color: rgb(221, 7, 132);
    width: 400px;
  }
}

@media (max-width: 628px) {
  .RenderNavButtons {
    //background-color: rgb(57, 221, 7);
    margin-top: -20px;
    left: 0px;
  }
}

@media (max-width: 555px) {
  .RenderNavButtons {
    //background-color: rgb(7, 221, 185);
    text-align: start;
    margin-top: -10px;
  }
}
