.RenderNavButtons {
  // background-color: rgb(7, 143, 221);
  padding: 0px 5px;
  text-align: center;

  .button-text {
    font-variant: small-caps;
    text-transform: capitalize;
    letter-spacing: 0.04em;
  }
}

@media (max-width: 1190px) {
  .RenderNavButtons {
    //background-color: rgb(221, 7, 132);
    width: 400px;
  }
}

@media (max-width: 670px) {
  .RenderNavButtons {
    // background-color: rgb(57, 221, 7);
    width: 150px;
    margin-bottom: 7px;
  }
}

// @media (max-width: 555px) {
//   .RenderNavButtons {
//     background-color: rgb(7, 221, 185);
//     text-align: start;
//   }
// }
