.container__navButtons {
  //background-color: rgb(7, 143, 221);
  padding: 2rem 2rem;
  border-radius: 12px;

  .button-text {
    font-variant: small-caps;
    text-transform: capitalize;
    text-transform: capitalize;
    letter-spacing: 2px;
  }
}
