.MyInfoCardLinks {
  height: 76px;
  font-size: 1.4rem;
  padding-right: 8px;
  display: flex;
  align-items: flex-start;

  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  a {
    color: #e6e6e6;
    outline: none;
    letter-spacing: 1px;
    &:focus,
    &:hover {
      color: var(--onHover1);
    }
  }
}

@media (max-width: 375px) {
  .MyInfoCardLinks {
    display: none;
  }
}
