.container__links {
  //background-color: skyblue;
  font-size: 1.4rem;
  height: 76px;
  display: flex;
  align-items: flex-start;

  ul {
    //background-color: violet;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  a {
    color: #e6e6e6;
    outline: none;
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
