.LanguageFlag {
  background: transparent;
  padding: 5px 0px 3px 2px;

  .flags {
    width: 18px;
    height: auto;
    opacity: 0.5;
  }

  .selected {
    opacity: 0.9;
  }

  :hover {
    opacity: 1;
  }

  &:focus {
    transform: scale(1.2);
  }
}
