.RenderMyInfoCard {
  //background-color: #3f3f3f;
  background-color: #575555;
  //background-color: #373737;
  background-image: url("../assets/15.png");
  padding: 9px;
  border: 1px solid darken(#3f3f3f, 5%);
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px (rgba(0, 0, 0, 0.6));

  display: flex;
  align-items: center;

  transform: translateY(-130%);
  transition: transform 1.7s cubic-bezier(0, -0.55, 0.27, 1.75) 0.5s;

  &.start {
    transform: translateY(0%);
  }
}
