.RenderProjects {
  background-color: lighten(#383838, 2%);
  //background-color: lighten(#2d627a, 1%);

  background-image: url("./assets/14.png");

  min-height: calc(100vh - 235px);
  padding: 41px 5% 0;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.4;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (max-width: 622px) {
  .RenderProjects {
    min-height: calc(100vh - 245px);
  }
}
