.RenderProjects {
  background-color: lighten(#3c6274, 3%);
  //background-color: lighten(#2d627a, 1%);
  min-height: calc(100vh - 235px);
  padding: 80px 5% 0;
}

@media (max-width: 622px) {
  .RenderProjects {
    min-height: calc(100vh - 245px);
  }
}
