.container__contact {
  //background-color: lighten(#3c6274, %);
  background-color: hsla(150, 4%, 79%, 0.767);
  padding: 70px 16%;
  min-height: calc(
    100vh - 270px
  ); //100vh - (header-height = 190 + footer-height = 70)

  .wrapper__contact-info {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;

    .contact-me {
      //background-color: red;
      display: flex;
      align-items: center;
      padding: 20px 10px 0 5%;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  .fas,
  .fab {
    font-size: 4rem;
    padding-right: 10px;
  }
}

@media (max-width: 622px) {
  .container__contact {
    //background-color: red;
    min-height: calc(100vh - 245px);
    padding: 40px 3%;
    .wrapper__contact-info {
      font-size: 2rem;
    }
  }
}
