.container__contact {
  // background-color: rgb(76, 88, 88);
  // background-color: rgb(18, 41, 41);
  //background-color: lighten(#3c6274, %);
  background-color: rgba(200, 204, 202, 0.767);
  padding: 40px 16%;
  min-height: calc(
    100vh - 270px
  ); //100vh - (header-height = 190 + footer-height = 70)
  // color: darkgrey;
  .wrapper__contact-info {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;

    .contact-me {
      //background-color: red;
      display: flex;
      align-items: center;
      padding: 20px 10px 0 5%;
    }
  }
  a:hover {
    text-decoration: underline;
  }
  .fas,
  .fab {
    font-size: 4rem;
    padding-right: 10px;
  }
}

@media (max-width: 622px) {
  //480px
  .container__contact {
    //background-color: red;
    min-height: calc(100vh - 245px);
    padding: 40px 3%;
    .wrapper__contact-info {
      font-size: 2rem;
    }
  }
}
