.container__cards {
  //background-color: rgb(107, 107, 106);
  width: 100%;
  font-size: 1.5rem;
  line-height: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

//CARD
.container__card {
  //background-color: blue;
  color: #e6e6e6;
  width: 420px;
  margin: 0px 20px;
  perspective: 150rem;
  position: relative;
  height: 100%;

  //BOTH SIDES
  .card__side {
    background-color: #3d3b3b;
    width: 100%;
    //height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    //border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease;

    li {
      list-style-type: square;
      margin-left: 1.5rem;
    }

    //BUTTON FLIP CARD
    .btn__flip-card {
      position: absolute;
      bottom: 14px;
      right: 18px;

      button {
        color: #e6e6e6;
        background-color: transparent;
        padding: 2px 5px;
        border: 1px solid gray;
        border-radius: 3px;
      }
      :hover {
        color: lightblue;
      }
    }

    //CARD FRONT
    &--front {
      .project-name {
        color: lightblue;
        padding: 20px 3px 10px 3px;
        font-size: 2.4rem;
        text-align: center;
      }
      .container__project-image {
        //background-color: gray;
        width: 100%;
        height: 280px; //CONROLS SIZE OF IMG IN PROJECT
        display: flex;
        justify-content: center;

        img {
          //background-color: yellow;
          width: 100%; //412px
          height: 100%; //280px
          border-radius: 2px;
          opacity: 1;
          &:hover {
            opacity: 0.9;
          }
        }
      }
      .container__text-section {
        //background-color: #474d4e;
        width: 89%;
        height: auto;
        margin: auto;
        padding: 20px 0 60px 0; //98
        font-style: italic;

        .description {
          //background-color: yellowgreen;
          color: #bde4fd;
          font-size: 1.6rem;
          padding-bottom: 14px;
        }
        .features {
          //background-color: crimson;
          font-style: normal;
          //font-weight: 300;
        }
      }
    }

    //CARD BACK
    &--back {
      display: flex;
      background-color: #3d3b3b;
      height: 100%;
      transform: rotateY(-180deg);

      .container__text-section {
        //  background-color: #474d4e;
        width: 89%;
        height: auto;
        padding: 0px 0 98px 0;
        margin: auto;
        font-size: 1.7rem;

        h2,
        p {
          text-align: center;
        }

        h2,
        h3 {
          color: skyblue;
          margin-top: 40px;
          //color: lightblue;
        }

        h2 {
          margin-bottom: -20px;
        }
        h3:first-of-type {
          margin-top: 60px;
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .container__card {
    width: 390px;
    margin-top: -20px;
  }
  .container__card .card__side--front .container__project-image img {
    width: 98%;
    height: 98%;
    display: flex;
    margin: auto;
  }
}

@media (max-width: 400px) {
  .container__card {
    width: 360px;
  }
}

@media (max-width: 360px) {
  .container__card {
    width: 346px;
  }
}

@media (max-width: 321px) {
  .container__card {
    width: 312px;
  }
}
