.RenderAbout {
  background-color: rgba(200, 204, 202, 0.767);
  min-height: calc(100vh - 235px);
  padding: 10px 16% 70px;
  font-family: serif, "monospace";

  //Visual change on smaller mobile view
  .show-on-smallest-screen-only {
    display: none;
  }
}

@media (max-width: 622px) {
  .RenderAbout {
    min-height: calc(100vh - 245px);
  }
}

@media (max-width: 576px) {
  .RenderAbout {
    padding: 30px 5%;
  }
}

@media (max-width: 375px) {
  .RenderAbout .show-on-smallest-screen-only {
    display: inline-block;
    padding-bottom: 10px;
    font-size: 1.8rem;
    ul {
      display: flex;
      li {
        padding-right: 20px;
        text-decoration: underline;
      }
    }
  }
}

.to-top {
  position: fixed;
  bottom: 0;
  height: 100px;
  background-color: green;
  z-index: 500;
  // display: showScroll ? "flex" : "none",
}
