.container__about {
  background-color: rgba(200, 204, 202, 0.767);
  padding: 40px 16% 0;
  //background-color: rgb(228, 231, 225);
  //background-color: lightblue;
  //background-color: lighten(#3c6274, 20%);
  min-height: calc(100vh - 270px);

  //font-family: "Arial";
}

@media (max-width: 622px) {
  .container__about {
    min-height: calc(100vh - 245px);
  }
}

@media (max-width: 375px) {
  .container__about {
    padding: 30px 3%;
  }
}
