.ProjectLinks {
  background-color: rgb(62, 66, 70);
  width: 80%;
  height: 4rem;
  margin: auto;
  margin-bottom: 90px; //important when smaller displays
  border-radius: 8px;
  border: 1px solid gray;

  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    color: lightblue;
    text-decoration: none;

    display: flex;
    justify-content: space-evenly;

    :hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .text {
    color: lightblue;
    padding-right: 5px;
    font-weight: normal;
    font-family: "Arial", "serif";
  }
}
