footer {
  width: 100%;
  background-color: #3f3f3f;
  // background-color: #87b3be;
  // background-color: #6fa2af;
  //border-top: 1px solid lighten(#3f3f3f, 10%);
  color: #e6e6e6;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  //height: 100px;

  font-size: 1.7rem;

  .credits {
    font-size: 1.2rem;
    font-style: italic;
    padding-right: 8px;
  }
  .contact--links li,
  a {
    &:hover {
      color: lightblue;
    }
  }

  .underline {
    text-decoration: underline;
  }
}
