.RenderFooter {
  background-color: #3f3f3f;
  background-image: url("./assets/15.png");
  color: #e6e6e6;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 25px 10px;
  font-size: 1.6rem;
  line-height: 1.3; //unitless ratio value

  display: flex;
  justify-content: space-around;

  h4 {
    font-size: 1.6rem;
    display: block;
    font-variant: small-caps;
  }

  cite {
    text-decoration: underline;
    &:hover {
      color: var(--onHover1);
    }
  }

  .credits {
    font-size: 1.2rem;

    li:first-of-type {
      // color: green;
      padding-top: 11px;
    }
    li::before {
      padding-right: 7px;
      content: "🔎";
    }
  }

  //LINKS
  .contact-links {
    ul {
      width: auto;
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    li:first-of-type {
      padding-top: 5px;
    }
    li a {
      &:hover {
        color: var(--onHover1);
      }
    }
    li::before {
      content: "\1F517";
      padding-right: 7px;
      font-size: 1.1rem;
    }
  }
}
