*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
  //button reset
  border: none;
  outline: none;
}

html,
body {
  height: 100%;
  position: relative;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #3c6274;
  $color: #e6e6e6;
  margin: 0;
  font-family: Arial, "sans-serif";
}
