*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
button {
  //button reset
  border: none;
  outline: none;
  cursor: pointer;
}

html,
body {
  height: 100%;
  position: relative;
  background-color: #3c6274;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  //CHECK BEFORE FINAL VERSION
  font-family: "ubuntu", "monospace", "Verdana", "American Typewriter", serif,
    sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
}
